@use '../../../global.scss' as *;
.inputWrapper{
    width: 100%;
    margin: 10px 0;
    &.inputInner,input:focus{
        border: 2px solid $mainColor;
    }
    .inputInner{
        width: 100%;
        position: relative;
        border-bottom: 2px solid $divColor;
        //border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        &input:focus{
        border-bottom: 2px solid $mainColor;
    }
        .icon{
            position: absolute;
            left: 10px;
            height: 90%;
            //background: $divColor;
            width: 10%;
            padding: 10px;
            // border-top-left-radius: 10px;
            // border-bottom-left-radius: 10px;
            //box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
            color: $mainColor;
            opacity: .7;
        }
        input{
            width: 100%;
            border: none;
            outline: none;
            text-align: center;
        }
        .slash{
            position: absolute;
            right: 15px;
            display: none;
            align-items: center;
            justify-content: center;
            border-radius: 100px;
            cursor: pointer;
            .icon__{
                color: $mainColor;
                opacity: .5;
            }
            &.active{
                display: flex;
            }
        }
    }
}